# Script configuration

# Primary pi-hole from which other pi-hole lists will be based off of
PRIMARY_PI=http://pi-hole-ip:port
# Primary pi-hole application password. See https://ftl.pi-hole.net/master/docs/#get-/auth/app
PRIMARY_APP_PASSWORD=

# Secondary pi-hole
SECONDARY_PI=http://secondary-pi-hole-ip:port
# Secondary pi-hole application password. See https://ftl.pi-hole.net/master/docs/#get-/auth/app
SECONDARY_APP_PASSWORD=

# "info", "debug"
LOG_LEVEL="info"