# Script configuration

# Primary pi-hole from which other pi-hole lists will be based off of.
PRIMARY_PI=http://pi-hole-ip:port
PRIMARY_APP_PASSWORD=

# Secondary pi-hole
SECONDARY_PI=http://secondary-pi-hole-ip:port
SECONDARY_APP_PASSWORD=

# "info", "debug"
LOG_LEVEL="info"